<div class="container mt-5">
  <h1 class="mb-4 text-warning">Editar Cliente</h1>

  <%= render "form", cliente: @cliente %>

  <%= link_to "Cancelar", cliente_path(@cliente), class: "btn btn-secondary mt-3" %>
</div>
