<div class="container mt-4">
  <h1 class="text-primary text-center"><%= action_name == "new" ? "Nova Dívida" : "Editar Dívida" %></h1>

  <div class="card shadow-lg">
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>

  <div class="mt-3 text-center">
    <%= link_to 'Voltar', dividas_path, class: "btn btn-secondary" %>
  </div>
</div>
