<div class="container mt-4">
  <h1 class="mb-4 text-warning">Editar Compra</h1>

  <div class="card p-4 shadow-sm">
    <%= render "form", compra: @compra %>
  </div>

  <div class="mt-3">
    <%= link_to "Voltar", compras_path, class: "btn btn-secondary" %>
  </div>
</div>
