<div class="row mb-2 produto-line">
  <div class="col-md-4">
    <label for="">Código de Barras</label>
    <input type="text" name="codigo_barra[]" class="form-control codigo-barra" />
  </div>
  <div class="col-md-4">
    <label for="">Quantidade</label>
    <input type="number" name="quantidade[]" class="form-control quantidade" value="1" min="1" />
  </div>
  <div class="col-md-3">
    <label>Preço Unitário</label>
    <span class="form-control preco-unitario">R$ 0,00</span>
  </div>
  <div class="col-md-1 d-flex align-items-end">
    <button type="button" class="btn btn-danger btn-sm remove-produto">X</button>
  </div>
</div>
