<h1>Editing encomenda</h1>

<%= render "form", encomenda: @encomenda %>

<br>

<div>
  <%= link_to "Show this encomenda", @encomenda %> |
  <%= link_to "Back to encomendas", encomendas_path %>
</div>
