<div class="container mt-4">
  <h1 class="mb-4">Nova Encomenda</h1>

  <%= render "form", encomenda: @encomenda %>

  <div class="mt-3">
    <%= link_to "Voltar para encomendas", encomendas_path, class: "btn btn-secondary" %>
  </div>
</div>
